<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Cook Time</th>
        <th>Description</th>
        <th>Difficulty</th>
        <th>Directions</th>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.id}"></td>
        <td th:text="${recipe.cookTime}"></td>
        <td th:text="${recipe.description}"></td>
        <td th:text="${recipe.difficulty}"></td>
        <td th:text="${recipe.directions}"></td>
    </tr>
</table>
</body>
</html>